.widget {
    background-color: #E9E9E9;
    border-radius: 8px;
    height: 100%;
    position: relative;
}

.widget-header {
    background-color: #FFFFFF;
    color: #192A59;
    border-color: #E9E9E9;
    border-width: 4px;
    border-radius: 8px;
    border-style: solid;

}

.widget-header-title {
    text-align: left;
    font-size: 17px;
    font-family: 'Archivo Black', sans-serif;
    align-items: center;
    display: flex;
    padding-left: 10px;
}

.widget-header-btns {
    text-align: right;
    padding: 6px;
}

.widget-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.widget-footer {
    background-color: #3F5AA6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #FFFFFF;
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}